#Contador {
    color: #ddee89;
    font-size: x-large;
    font-family: cursive;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-20%);
}
#daño{
    color: lawngreen;
    font-size: medium;
    font-family: cursive;
    position: absolute;

}


#carretera {

    position: absolute;
    width: 600px;
    height: 96%;
    margin-left: 30%;
    border: rgb(30, 31, 28) solid 5px;
}

/* 
#start:hover {
    animation: botonIncio 2s ease-in-out infinite;
}

@keyframes botonIncio {
    0% {
        border-color: blue;
    }

    25% {
        border-color: rgb(0, 255, 55);
    }

    50% {
        border-color: rgb(198, 189, 4);
    }

    75% {
        border-color: rgb(255, 13, 0);
    }

    100% {
        border-color: rgb(255, 0, 191);
    }
} */

body {
   
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: aquamarine;
}

#corazon{
    width: 100px;
}